.green, .blue, .red {
  width: 100px;
}

.green, .blue, .red {
  height: 100px;
}

.red {
  background-color: red;
}

.blue {
  position: absolute;
  margin-top: -50px;
  margin-left: 50px;
  background-color: blue;
}

.green {
  position: absolute;
  margin-left: 100px;
  background-color: green;
}